@tailwind base;
@tailwind utilities;

html {
    --light-code: #888;
    --code-font: 'Fira Code', monospace;
    --fg: #0F172A;
    --bg: white;
}

body {
    color: var(--fg);
    background: var(--bg);
}

textarea {
    font-family: var(--code-font);
    background: none;
    resize: none;
    line-height: 1.85;
}

input {
    background: none;
}

code, .code {
    font-family: var(--code-font);
}

/* Spans */

.span-default {
    flex-grow: 1;
}
.span-variable {
    border: solid #ccc 2px;
    border-radius: 4px;
    cursor: default;
}
.span-variable-active {
    border: solid black 2px;
}
.span-variable:hover {
    border-color: #aaa;
}
.span-value {
    color: var(--light-code);
    width: 4em;
    text-align: right;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    html {
        --fg: white;
        --bg: black;
    }
    .span-variable {
        border-color: #666;
    }
    .span-variable:hover {
        border-color: #aaa;
    }
    .span-variable-active, .span-variable-active:hover {
        border-color: #fff;
    }
}
